@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --russianviolet: #210440;
  --mistyrose: #FEE1D7;
  --vividtangerine: #FDB095;
  --nypink: #E5958E;
  --selectiveyellow: #FFBA00;
}

html,
body {
  background: var(--mistyrose);
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {

}
